@using HealthStream.Models
@model AdminModel

@{
    ViewData["Title"] = "Index";
}


@Html.TextBox("FName");
@Html.TextBox("LName");

<button>Save</button>


@Html.TextBoxFor(x=>x.FName)

<h1>Index</h1>